<% @page_header = 'Portfolio' %>

<div class="row">
  <%= @project_content.html_safe if @project_content %>
</div>

<% @projects.each do |project| %>
    <div class="row">
      <div class="col-md-6">
        <%= link_to(image_tag("#{project.project_image.url}"), project ) %>
      </div>



      <div class="col-md-6">
        <h4><%= link_to "#{project.title}", project %></h4>
        <p><%= simple_format project.description %></p>
      </div>

    </div>
    <hr/>
<% end %>

<%= paginate @projects %>