<div class="well">
  <ul class="nav nav-pills nav-stacked">
    <li class=<%= cpa(page_path('about-us')) %>><%= link_to 'About Us', page_path('about-us') %></li>
    <li class=<%= cpa(page_path('services')) %>><%= link_to 'Services', page_path('services') %></li>
    <li class=<%= cpa(page_path('about-us')) %>><%= link_to 'About Us', page_path('about-us') %></li>
    <li class=<%= cpa(projects_path) %>><%= link_to 'Recent Projects', projects_path %></li>
    <li class=<%= cpa(testimonials_path) %>><%= link_to 'Testimonials', testimonials_path %></li>
    <li class=<%= cpa(contact_us_path) %>><%= link_to 'Contact', contact_us_path %></li>
  </ul>

</div>