<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @testimonial.content %>
</p>

<p>
  <b>Name:</b>
  <%= @testimonial.name %>
</p>

<p>
  <b>Active:</b>
  <%= @testimonial.active %>
</p>


<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
